table {
	border: 1px solid rgb(124, 181, 236);
	margin: 15px 0 0 0;
	padding: 2px 2px;
	font-size: 14px;
	font-family: arial;
}

th{
	border-right: 1px solid rgb(124, 181, 236);
	padding: 2px 4px;
}

td{
	text-align: center;
	padding: 2px 4.8px;
	border-right: 1px solid rgb(124, 181, 236);
}

th.ba, td.ba{
	border-bottom:  1px solid rgb(124, 181, 236);
}

th.none, td.none{
	border-right: none;
}


.Amazonas{
	background: #7CB5EC ;
}
.Ancash{
	background: #434348 ;
}
.Apurimac{
	background: #90ed7d ;
}
.Arequipa{
	background: #f7a35c ;
}
.Ayacucho{
	background: #8085e9;
}
.Cajamarca{
	background: #f15c80 ;
}
.Cusco{
	background: #D1BD2A ;
}
.Huancavelica{
	background: #2b908f ;
}
.Huanuco{
	background: #f45b5b ;
}
.Ica{
	background: #91e8e1 ;
}
.Junin{
	background: #00AFEF  ;
}
.Libertad{
	background: #6A3981  ;
}
.Lambayeque{
	background: #C68BBC ;
}
.Loreto{
	background: #8BC9B0 ;
}
.MadreDeDios{
	background: #A0C047 ;
}
.Moquegua{
	background: #437543 ;
}
.Pasco{
	background: #F58834  ;
}
.Piura{
	background: #F8EC30 ;
}
.Puno{
	background: #983133 ;
}
.SanMartin{
	background: #E4A095 ;
}
.Tacna{
	background: #B6E3F0  ;
}
.Tumbes{
	background: #ED3237 ;
}
.Ucayali{
	background: #ED3A94 ;
}
.Callao{
	background: #6ECACF ;
}
.LimaProvincias{
	background: #858585 ;
} 
.LimaMetropolitana{
	background: #D03A68 ;
}
.Nacional{
	background: #7B9591 ;
}


/* inicio */

.boton-inicio{
	background:	#5CC6D0;
	color: #fff;
}