#grid{
	border: 2px solid #eee;
	width: 100%;
	background-color: #dfdfdf;
}
#grid td{
	border: 1px solid #eee;
	text-align: center;
	width: auto;
}
#grid .hover-change-color:hover{background: #ff0;}
.underline{text-decoration: underline;}
.underline:hover{color: #00f;font-weight: bold;}
.theader{background-color: #93bef3}