<div class="row" id="form_inst_select">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>INSTALACIONES ELECTRICAS</strong></div>
			<div class="panel-body">
				<table id="fmr_inst_elect_form" class="table-responsive table">
					<tbody>
						{% for form in inst_elect_form %}
							<tr>
								<td>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_tipo_reparacion">
											Tipo de reparacion:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 1 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_tipo_reparacion }}
											{% if form.inst_elect_tipo_reparacion.errors %}<p class="help-block">{{ form.inst_elect_tipo_reparacion.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_descripcion">
											Descipcion de la accion:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 2 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_descripcion }}
											{% if form.inst_elect_descripcion.errors %}<p class="help-block">{{ form.inst_elect_descripcion.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_numero_unidad_medida">
											Numero de unidades:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 3 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_numero_unidad_medida }}
											{% if form.inst_elect_numero_unidad_medida.errors %}<p class="help-block">{{ form.inst_elect_numero_unidad_medida.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_dimensiones">
											Dimensiones(Alcance-Métrica):
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 4 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_dimensiones }}
											{% if form.inst_elect_dimensiones.errors %}<p class="help-block">{{ form.inst_elect_dimensiones.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_precio_unitario">
											Precio Unitario Referencial:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 5 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											<span style="display: inline-block">{{ form.inst_elect_precio_unitario }}</span>
											&nbsp&nbsp<span>S/.</span>
											{% if form.inst_elect_precio_unitario.errors %}<p class="help-block">{{ form.inst_elect_precio_unitario.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_precio_unitario">
											Precio Unitario Referencial:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 6 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											<span style="display: inline-block">{{ form.inst_elect_precio_total_referencial }}</span>
											&nbsp&nbsp<span>S/.</span>
											{% if form.inst_elect_precio_total_referencial.errors %}<p class="help-block">{{ form.inst_elect_precio_total_referencial.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_tiempo_ejecucion">
											Tiempo de ejecución del servicio:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 6 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_tiempo_ejecucion }}
											{% if form.inst_elect_tiempo_ejecucion.errors %}<p class="help-block">{{ form.inst_elect_tiempo_ejecucion.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_img">
											Fotografias de las deficiencias:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 7 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_img }}
											{% if form.inst_elect_img.errors %}<p class="help-block">{{ form.inst_elect_img.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_doc">
											Documento relacionado:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 8 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_doc }}
											{% if form.inst_elect_doc.errors %}<p class="help-block">{{ form.inst_elect_doc.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_observaciones">
											Observaciones:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 9 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_observaciones }}
											{% if form.inst_elect_observaciones.errors %}<p class="help-block">{{ form.inst_elect_observaciones.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="id_estado_ejecucion">
											Estado de la Ejecución:
											{% for posicion in inst_elect_posicion_ayuda  %}
												{% if posicion == 10 %}
													<a href="{% url 'show_ayuda' inst_elect_form_ayuda posicion %}" data-toggle="modal" data-target="#{{ posicion }}">
														<img height="20px" width="20px" src="{{ STATIC_URL }}img/icon_question.png" alt="icon_question.png">
													</a>
												{% endif %}
											{% endfor %}
										</label>
										<div class="col-md-9">
											{{ form.inst_elect_estado_ejecucion }}
											{% if form.inst_elect_estado_ejecucion.errors %}<p class="help-block">{{ form.inst_elect_estado_ejecucion.errors|striptags }}</p>{% endif %}
										</div>
									</div>
									{% for hidden in form.hidden_fields %}
										{{ hidden }}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ inst_elect_form.management_form }}
			</div>
		</div>
	</div>
</div>