{% extends "bases/base.html" %}

{% load bootstrap3 %}

{% block content %}
	<header class="article-header">
		<h1 class="article-title">Editar y Crear Ayuda</h1>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-8">
				<div class="col-md-2">
					<a href="{% url 'ayuda_index' %}" id="back" style="backgorund-color: red;">Regresar</a>
				</div>
				<div class="col-md-3">
					<a href="{% url 'ayuda_create' form %}" id="create">Agregar Ayuda</a>
				</div>
			</div>
		</div>
	</header>
	<form action="{% url 'ayuda_update' form %}" enctype="multipart/form-data" method="post" id="form_ayuda">{% csrf_token %}
		<ol style="list-style: decimal;">
			<div class="row">
				<div class="col-md-12">
					{% if ayudas|length > 0 %}
						<input class="btn btn-success submit" type="submit" value="Guardar" /><br/>
						{% for ayuda in ayudas %}
							<div class="form-group">
								<label class="control-label" for="title[{{ ayuda.id }}]"><li>Titulo: </li></label>
								<input class="form-control" id="title[{{ ayuda.id }}]" maxlength="40" name="title[{{ ayuda.id }}]" type="text" value="{{ ayuda.title|escape }}"/><br/>
								<label class="control-label" for="posicion[{{ ayuda.id }}]">Posicion: </label>
								<input class="form-control" id="posicion[{{ ayuda.id }}]" name="posicion[{{ ayuda.id }}]" type="number" value="{{ ayuda.posicion|escape }}"/><br/>
								<label class="control-label" for="text[{{ ayuda.id }}]">Texto:</label><br/>
								<textarea id="text[{{ ayuda.id }}]" type="text" class="summernote" name="text[{{ ayuda.id }}]" placeholder="Texto de ayuda">{{ ayuda.text|escape }}</textarea>
							</div>
						{% endfor %}
						<input class="btn btn-success submit" type="submit" value="Guardar" /><br/>
					{% else %}
						<h2 id="vacio">No hay ninguna ayuda</h2>
					{% endif %}
				</div>
			</div>
		</ol>
	</form>
{% endblock %}

{% block scripts %}
	<script src="{{ STATIC_URL }}js/ayudas.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			summernote();
		});
	</script>
{% endblock %}