{% extends "bases/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<a href="{% url 'reportes' %}">regresar</a>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			{% if fichas_tecnicas|length > 0 %}
				<div class="panel-body">
					<div class="table-responsive">
						<table id="tm" class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">Nombre</th>
									<th scope="col">Costo de las reparaciones</th>
									<th scope="col">Tipo de reparacion</th>
								</tr>
							</thead>
							<tbody>
								{% for ft in fichas_tecnicas %}
									<tr>
										<td>{{ ft.instalacion }}</td>
										<td>s/.{{ ft.total }}</td>
										<td>{{ ft.reparacion }}</td>
									</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td>Monto total: {{ ptotal }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<h2>No se a encontrado ninguna Ficha Tecnica</h2>
			{% endif %}
		</div>
	</div>
{% endblock %}