<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>SAGI</title>
		{% include "bases/styles.html" %}
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
		<style type="text/css">
			.delete-row {float: right;}
			.help-block,.error,.errors{color: #f00;font-weight: bold;}
			.bold{font-weight: bold;}
			.unbold{font-weight: lighter;}
		</style>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<nav class="wrap t3-topbar">
				<div class="main-container">
					<div class="row">
						<div class="col-sm-8 hidden-xs"></div>
						<div class="col-sm-4 col-xs-12">
							<div class="navbar-header pull-right">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".t3-navbar-collapse">
									<i class="fa fa-bars"></i>
								</button>
							</div>
						</div>
					</div>
					<hr/>
				</div>
			</nav>
			{% block header %}
				{% include "bases/header.html" %}
			{% endblock %}
			{% block breadcrumb %}{% endblock %}
			<div id="page-wrapper">
				<div id="t3-mainbody" class="main-container t3-mainbody">
					<div class="items-leading">
						<div class="leading leading-0">
							<article>
								<section class="article-content clearfix">
									{% block content %}{% endblock %}
								</section>
							</article>
						</div>
					</div>
				</div>
			</div>
			{% block footer %}
				{% include "bases/footer.html" %}
			{% endblock %}
		</div>
		{% include "bases/scripts.html" %}
		{% block scripts %}{% endblock %}
	</body>
</html>
