<footer id="t3-footer" class="wrap t3-footer">
	<div class="main-container clearfix">
		<div class="row"></div>
	</div>
	<section class="main-container">
		<div class="t3-copyright">
			<div class="row">
				<div class="col-xs-12 copyright ">
					<div class="poweredby text-hide">
						<a class="t3-logo t3-logo-small t3-logo-light" href="http://pnp.gob.pe" title="Policia Nacional del Perú" target="_blank" rel="nofollow">Powered By <strong>T3 Framework</strong></a>
					</div>
					<div class="module">
						<small>Dirección Nacional de Gestión Institucional. <br> Portal PNP-DIRNGI 2015 es un Sitio Web Oficial de la Policia Nacional del Perú.</small>
						<small>Desarrollo basado en software libre, liberado bajo  <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License.</a></small>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>