<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/frontend-edit.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/megamenu.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/phocadownload.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/summernote.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layouts/blog.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/template.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300,700" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" />