 .Accordion, .AquaAccordion {
                width: 370px;
                margin: 75px 25px;
                font-size: 13px;
            }

            #Acc1.Accordion {
                width: 100%;
            }
            .AccordionPanelTab a {
                display: block;
                color: black;
                text-decoration: none;
            }
            .AccordionPanelContent {
                height: 290px;
            }

            span.AccordionPanelContent {
                display: block;
            }
            /* Here's an example of an accordion Aqua Gradient theme that uses
             * different class names from the ones used in SpryAccordion.css,
             * to style the different parts of the accordion.
             */
            .AquaAccordion {
                border-left: solid 1px gray;
                border-right: solid 1px black;
                border-bottom: solid 1px gray;
                overflow: hidden;
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
            }

            .AquaAccordion .Tab {
                height: 24px;
                background-repeat: repeat-x;
                background-color: #6dc1fc;
                border-top: solid 1px black;
                border-bottom: solid 1px gray;
                margin: 0px;
                padding: 2px;
                cursor: pointer;
                -moz-user-select: none;
                -khtml-user-select: none;
                text-align: center;
            }

            .AquaAccordion .Content {
                overflow: auto;
                height: 300px;
                margin: 0px;
                padding: 0px;
                background-repeat: repeat-x;
            }

            .AquaAccordion .hover {
                background-image: none;
                background-color: #33CCFF;
            }

            .AquaAccordion .open {
                /* Add properties here. */
            }

            .AquaAccordion .closed {
                /* Add properties here. */
            }

            .AquaAccordion .focused {
                /* Add properties here. */
            }


              .titt{
            width: 240px;
            display: inline-block;
            border: 1px solid #777;
            padding: 10px;
        }
        .tittt{
            width: 68px;
            display: inline-block;
            border: 1px solid #777;
            padding: 10px;
            text-align: center;
            margin-left: -5px;
        }

        .cabz{
            text-align: center;
            font-weight: bold;
        }

         a { 
            color: red; 
             text-decoration:none; 
             font-weight: bold;
         }
            tt {color: green;}
            b {color: #993333;}
            body {color: black; font-family: Georgia,serif; line-height: 1.5; margin: 2em 2em;}
            h2 { line-height: 1; }
            .demo { border: inset 2px silver;}
            #guru { padding: 4px; width: 99%; height: auto; text-align: center; background-color: black; }
            #guru div { border: solid 3px red; padding: 4px; font-family: monospace; font-size: 1.25em; width: auto; height: auto; color: red; text-align: center; text-decoration: blink; }
            #header { margin-bottom: 0; font-weight: normal; font-style: italic; color: gray; }
            .bookmarks { white-space: nowrap; width: 98%; margin: 0; padding-top: 10px; border-top: 1px dotted gray;}
            #demo { 
                margin: 0px; padding: 0px; color: black; 
                display: block;width: 100%; height: auto;

                font-family: Arial, Helvetica, sans-serif;
            }   
            #wrapper {
                margin: 1em auto; width: 840px; height: 504px;
                margin-top: 2em; border: 1px solid gray;
                box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -o-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -ms-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -moz-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -webkit-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -webkit-user-select: none; -moz-user-select: none;
            }
            #wrapper2 {
                background: #F3F3F3;
                margin: 1em auto; width: 840px; height: 560px;
                box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -o-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -ms-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -moz-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
                -webkit-box-shadow: rgba(0,0,0,.66) 0px 0px 8px;
            }
            #wrapper2 a {
                text-shadow: 0px 2px 4px gray;
            }
            #wrapper2 img {
                box-shadow: rgba(0,0,0,.66) 0px 2px 4px;
                -o-box-shadow: rgba(0,0,0,.66) 0px 2px 4px;
                -ms-box-shadow: rgba(0,0,0,.66) 0px 2px 4px;
                -moz-box-shadow: rgba(0,0,0,.66) 0px 2px 4px;
                -webkit-box-shadow: rgba(0,0,0,.66) 0px 2px 4px;
            }
            #wrapper2 li a {color: #333333; text-decoration:none;}
            #wrapper2 li a:hover, #wrapper2 li a:focus {color: blue; text-decoration:none;}
            #wrapper2 a {color: black; text-decoration:none;}
            #wrapper2 a:hover, #wrapper2 a:focus {color: blue;}
            #wrapper2 table {table-layout:fixed;}
            #wrapper2 td {vertical-align: top;}
            #wrapper2 ul {padding-left: 0px; margin-top: 0px; margin-left: 0px;}
            #wrapper2 li {font-size: 75%; list-style-type: none; padding-right: 1em;}
            #wrapper2 small {font-size: 75%;}
            #wrapper2 b {color: orange;}
            #wrapper2 td span {font-size: 75%; font-family: georgia, serif; font-style: italic; color: gray;}
            #info {
                overflow-x:hidden; width:328px; height:512px;
                display:inline-block; border:none;
            }
            #menus {
                text-shadow: 0px 2px 4px black; color: white; 
                left:0px; top:400px; width:512px; height:auto; 
                display:block; position:absolute; text-align:center;
            }
            .ison {outline:2px solid orange;}
            #menus button {font-size: 150%; margin:2px; text-shadow: 0px 0px 0px black;}
            #menus big {font-size: 120%; font-weight: bold; }
            area {opacity:0;}
            @media only screen and (max-device-width:480px) {
                #wrapper {width: 872px; height: 512px; overflow:hidden;}
                #wrapper2 {width: 872px;}
                #info {width:360px; height:512px; overflow:hidden;}
            }
            .bookmarks { white-space: nowrap; width: 98%; margin: 0; padding-top: 10px; border-top: 1px dotted gray;}
            div#map_of_world_blind, div.blind_area { 
                background: transparent;
                text-align: left;
                vertical-align: bottom;
                margin: 0; padding: 0;
            }
            p.coords { 
                margin: 0; padding: 0;
                position:absolute; 
                bottom: 2px; 
                left: 8px;
                color: #444; 
                font-family: sans-serif;
                font-size: 12px;
            }
            hr, .clearAll {
                clear: both;
            }
            .SlidingPanels {
                width: 424px;
                height: 503px;
            }
            .SlidingPanelsContent {
                width: 424px;
                height: 503px;
            }
            .p1 {
                background-color: #FFFFFF;
            }

              #example2.SlidingPanels {
                float: left;
            }
            #example2 .SlidingPanelsContentGroup {
                float: left;
                width: 15000px;
            }
            #example2 .SlidingPanelsContent {
                float: left;
            }

            #example3.SlidingPanels {
                float: left;
            }
            #example3 .SlidingPanelsContentGroup {
                float: left;
                width: 900px;
            }
            #example3 .SlidingPanelsContent {
                float: left;
            }
            #example3_nav.SlidingPanels {
                float: left;
            }
            #example3_nav .SlidingPanelsContentGroup {
                float: left;
                width: 900px;
            }
            #example3_nav .SlidingPanelsContent {
                float: left;
            }
