{% extends "bases/base.html" %}

{% load bootstrap3 %}

{% block styles %}
	<style>
		.delete-row {float: right;}
		.help-block{color: #f00;}
	</style>
{% endblock %}

{% block content %}
	<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="{% url 'acciones_de_prevencion' form_id %}">{% csrf_token %}
		<input class="btn btn-success" type="submit" value="Enviar!"/>
		{% if techos %}
			{% include "reparar/techo.html" %}
		{% endif %}
		{% if inst_sant %}
			{% include "reparar/inst_sant.html" %}
		{% endif %}
		{% if inst_elect %}
			{% include "reparar/inst_elect.html" %}
		{% endif %}
		{% if muros_paredes %}
			{% include "reparar/muros_paredes.html" %}
		{% endif %}
		{% if techos %}
			<input type="hidden" name="techos" value="{{ techos }}"/>
		{% endif %}
		{% if inst_sant %}
			<input type="hidden" name="inst_sant" value="{{ inst_sant }}"/>
		{% endif %}
		{% if inst_elect %}
			<input type="hidden" name="inst_elect" value="{{ inst_elect }}"/>
		{% endif %}
		{% if muros_paredes %}
			<input type="hidden" name="muros_paredes" value="{{ muros_paredes }}"/>
		{% endif %}
	</form>
{% endblock %}

{% block scripts %}
	<script src="//code.jquery.com/jquery-1.9.0.min.js"></script>
	{{ techo_form.media }}
	{{ inst_sant_form.media }}
	{{ inst_elect_form.media }}
	{{ muros_paredes_form.media }}
	<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
	<script type="text/javascript">
		$(function () {
			{% if techos %}
				$('#fmr_techo_form tbody tr').formset({
					prefix: '{{ techo_form.prefix }}',
					deleteText: "<i class='fa fa-trash-o'></i>",
					addText: "<i class='fa fa-plus-square-o'></i>",
					formCssClass: 'dynamic-formset1'
				});
			{% endif %}
			{% if inst_sant %}
				$('#fmr_inst_sant_form tbody tr').formset({
					prefix: '{{ inst_sant_form.prefix }}',
					deleteText: "<i class='fa fa-trash-o'></i>",
					addText: "<i class='fa fa-plus-square-o'></i>",
					formCssClass: 'dynamic-formset2'
				});
			{% endif %}
			{% if inst_elect %}
				$('#fmr_inst_elect_form tbody tr').formset({
					prefix: '{{ inst_elect_form.prefix }}',
					deleteText: "<i class='fa fa-trash-o'></i>",
					addText: "<i class='fa fa-plus-square-o'></i>",
					formCssClass: 'dynamic-formset3'
				});
			{% endif %}
			{% if muros_paredes %}
				$('#fmr_muros_paredes_form tbody tr').formset({
					prefix: '{{ muros_paredes_form.prefix }}',
					deleteText: "<i class='fa fa-trash-o'></i>",
					addText: "<i class='fa fa-plus-square-o'></i>",
					formCssClass: 'dynamic-formset3'
				});
			{% endif %}
		});
	</script>
	<script src="{{ STATIC_URL }}js/reparar.js"></script>
{% endblock %}